body {
  display: flex;
  flex-direction: row;
  background-color: rgb(241, 241, 241);
}

.banner_side {
  background-image: url(images/taryn-kaahanui-jtVFv8mDDBU-unsplash.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 45%;
  height: 100vh;
}

.banner {
  display: flex;
  flex-direction: row;
}

@font-face {
  font-family: "norse-bold";
  src: url(images/Norse-Bold.otf);
}

h1 {
  font-family: "norse-bold";
}

a {
  color: orange;
}

button[type="submit"] {
  background: orange;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, u, center,
dl, dt, dd, ol, ul, li,
fieldset,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}